Привіт! 💙

Це Telegram-бот для бонусної програми від @kerry_queen

Тут ти можеш:
- перевірити кількість накопичених бонусів 💸
- зробити запит на отримання бонусів 🤑
- зробити запит на використання бонусів 🍾

Команди бота:
/start - початок роботи та реєстрація в системі
/help - довідка
